<p>{{ roomCode }}</p>
<button (click)="copyCode()">Copy Code</button>

@if (!isVoting){
  <h2>Participants:</h2>
  @for (participant of participants; track $index) {
    <p>{{ participant }}</p>
  }

  <h2>Stories:</h2>
  @for (story of stories; track story){
      <p>{{ story.storyName }} - {{ story.storyDescription }} - {{ story.priority }}</p>
  }

  @if (isOwner) {
    <h2>Create a new UserStory:</h2>
    <input [(ngModel)]="storyName" placeholder="Story name">
    <input [(ngModel)]="storyDescription" placeholder="Description">
    <select [(ngModel)]="storyPriority">
      <option value="MUST_HAVE">Must Have</option>
      <option value="SHOULD_HAVE">Should Have</option>
      <option value="COULD_HAVE">Could Have</option>
      <option value="WONT_HAVE">Won't Have</option>
    </select>
    <button (click)="createStory()">Add Story</button>
  }

  @if (isOwner) {
    <h2>Select an UserStory to vote:</h2>
    <select [(ngModel)]="selectedStoryId">
      @for (story of stories; track story.storyName) {
        <option [value]="story.id">{{ story.storyName }}</option>
      }
    </select>
    <button (click)="startVoting()">Start voting</button>
  }
}

@if (isVoting) {
  <h2>Voting Story: {{ selectedStoryName }}</h2>
  <p>Select a Fibonacci value to vote: </p>
  @for (card of fibonacciDeck; track card) {
    <button (click)="selectCard(card)" [class.selected]="selectedCard === card">{{card}}</button>
  }
  <button (click)="registerVote()">Vote</button>
  <p>Votes: </p>
  @for (vote of votes; track $index) {
    <p>| {{ vote }} |</p>
  }
}

